# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environment
.venv/

# Ignore Jupyter checkpoint files
.ipynb_checkpoints/

# Ignore model and preprocessing files
*.pkl
*.h5

# Ignore transcript or API response files
*.json
*.json3

# Ignore secrets
secrets.toml
.env
